body {
	width: 100%;
	min-width: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
/*blockquota, body, dd, div, dl, dt, form, li,
ol, p, pre, td, th, ul {
	margin: 0;
	padding: 0;
	direction: ltr;
	font-size: 14px;
}
*/
h1, h2, article {
	border-bottom: 1px dashed #999;
/*	margin-bottom: 0.5em;
	margin-top: 0.5em;
*/
	margin: auto;
}
#header {
	font-size: 30px;
	margin: 20px auto;
	text-align: center;
	color: #fff;
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799,#159957);
	height: 200px;
	display:flex;
    align-items: center;
    justify-content: center;
}
h1 {
	diaplay: block;
	padding-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
	line-height: 80%;	
}
#main {
	width: 85%;
	margin: 20px auto;
}
#main ul {
	list-style-type: none;
}
h2 {
	margin:15px auto;
	font-size: 24px;
	padding-bottom: 10px;
}
#content, pre {
	background-color: #262626;
	padding: 10px;
}
li, code {
	color: #A6E22E;
	font-size: 20px;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
	text-align: left;
	color: #A6E22E;
	font-size: 20px;
}
code {
	display: block;
	padding: 10px auto;
	background-color: #262626;
}